# name: CD to VM (MLFlow setup)

# on:
#   workflow_dispatch:

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout repo
#       uses: actions/checkout@v3

#     - name: Start SSH Agent and add key
#       uses: webfactory/ssh-agent@v0.7.0
#       with:
#         ssh-private-key: ${{ secrets.VM_SSH_KEY }}

#     - name: Copy setup script to VM
#       run: |
#         scp -o StrictHostKeyChecking=no setup_mlflow.sh ubuntu@${{ secrets.VM_HOST }}:/home/ubuntu/

#     - name: Run setup script on VM
#       run: |
#         ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.VM_HOST }} 'bash /home/ubuntu/setup_mlflow.sh'
