# name: CD with Docker Compose

# on:
#   workflow_dispatch:

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout source
#       uses: actions/checkout@v3

#     - name: Docker login
#       run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

#     - name: Pull Docker images
#       run: |
#         docker pull yourdockerhub/airflow:latest
#         docker pull yourdockerhub/grafana:latest
#         docker pull yourdockerhub/prometheus:latest
#         docker pull yourdockerhub/api:latest

#     - name: Launch stack with Docker Compose
#       run: |
#         docker-compose -f docker-compose.prod.yml up -d --remove-orphans
