# CD workflow
name: Continuous Deployment

on:
  push:
    branches:
      - main  # Chỉ chạy khi push lên branch main
  workflow_dispatch: 


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Azure VM via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << 'EOF'
            cd ~/your-project-folder
            git pull origin main

            # Build images (chỉ cần nếu chưa có hoặc có update)
            docker build -t airflow-img ./docker/airflow
            docker build -t mlflow-img ./docker/mlflow
            docker build -t grafana-img ./docker/grafana

            # Stop old containers (nếu cần)
            docker rm -f airflow || true
            docker rm -f mlflow || true
            docker rm -f grafana || true

            # Run new containers (lẻ từng cái, có expose port)
            docker run -d --name airflow -p 8080:8080 airflow-img
            docker run -d --name mlflow -p 5000:5000 mlflow-img
            docker run -d --name grafana -p 3000:3000 grafana-img
          EOF